{
    "plugins": [
      "prettier"
    ],
    
    "extends": [
      "eslint:recommended",
      "plugin:prettier/recommended"
    ],
    
    "parserOptions": {
      // "ecmaVersion": 7,
      "ecmaVersion": 11,
      "sourceType": "module",
      // "sourceType": "script", //Parsing error: 'import' and 'export' may only appear at the top level 때문에 수정

      "ecmaFeatures": {
        "jsx": false
      }
    },
    
  
    "env": {
      "browser": false,
      "node": true
    },
    
    "ignorePatterns": [
      "node_modules/"
    ],
    
    
    "rules": {
      "prettier/prettier": "error"
    }
  }